@model Santiago.Web.Areas.Admin.ViewModels.Testimonial.EditTestimonialViewModel

<div class="js-edit-testimonial-popup">
  @using (Html.BeginForm("UpdateTestimonial", "Testimonial", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    @Html.AntiForgeryToken()
    @Html.EditorFor(x => x.Id, "PopupHiddenWithDisplayValue", new { Validation = false })
    @Html.EditorFor(x => x.AuthorName, "PopupTextBox")
    @Html.EditorFor(x => x.AuthorImageFileId, "PopupFileUpload", new { FileUploadCssClass = "js-testimonial-author-image-file-upload" })
    @Html.EditorFor(x => x.Text, "PopupTextArea")
    @Html.EditorFor(x => x.CreationDate, "PopupDisplayValue", new { TemplateName = "date" })
    @Html.EditorFor(x => x.LastModifiedDate, "PopupDisplayValue", new { TemplateName = "date" })

    <div class="command-buttons-wrapper">
      <button class="command-button save-button" type="submit">Сохранить</button>
      <button class="command-button close-button" type="button">Закрыть</button>
    </div>
  }
</div>