@using System.Web.Optimization
@using Santiago.Web.Helpers

@{
  var fullPageTitle = "Панель управления - " + ViewBag.PageTitle + " | " + ViewBag.SiteName;
}

<!DOCTYPE html>
<!-- © Владислав Иванов, 2016 | http://vk.com/vladi4_vk -->
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Владислав Иванов">
    <meta name="robots" content="none">
    <title>@fullPageTitle</title>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    @Styles.Render("~/bundles/common/css")
    @Scripts.Render("~/bundles/common/js")
  </head>
  <body>
    <div class="admin-layout">
      <div class="admin-bar">
        <a class="main-page-link" href="/" title="На главную">На главную</a>
        <div class="right-block">
          <span class="welcome-message">Привет, @User.Identity.Name!</span>

          @using (Html.BeginForm("LogOut", "Authorization", new { area = string.Empty }, FormMethod.Post))
          {
            @Html.AntiForgeryToken()

            <button class="log-out-button" title="Выйти" type="submit">Выйти</button>
          }
        </div>
      </div>
      <div class="admin-container">
        <div class="admin-menu-wrapper">
          <ul class="admin-menu">
            <li>@Html.AdminMenuItemLink("Фотографии", "Index", "Photograph", "fa fa-camera fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Категории фотографий", "Index", "PhotographCategory", "fa fa-folder-open fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Отзывы", "Index", "Testimonial", "fa fa-comments fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Страницы", "Index", "Page", "fa fa-file-text-o fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Главное меню", "Index", "MainMenuItem", "fa fa-bars fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Пользователи", "Index", "User", "fa fa-users fa-2x")</li>
            <li>@Html.AdminMenuItemLink("Настройки сайта", "Index", "SiteSetting", "fa fa-cog fa-2x")</li>
          </ul>
        </div>
        <div class="admin-content-wrapper">
          <div class="admin-content">
            <h1 class="admin-content-heading">@ViewBag.PageTitle</h1>
            @RenderBody()
          </div>
        </div>
      </div>
    </div>
    <div class="popups">
      @RenderSection("Popups", false)
    </div>
    @RenderSection("PageSpecificBundles", false)
  </body>
</html>