@model Santiago.Web.Areas.Admin.ViewModels.Page.EditPageViewModel

<div class="js-edit-page-popup">
  @using (Html.BeginForm("UpdatePage", "Page", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    @Html.AntiForgeryToken()
    @Html.EditorFor(x => x.Id, "PopupHiddenWithDisplayValue", new { Validation = false })
    @Html.EditorFor(x => x.Title, "PopupTextBox")
    @Html.EditorFor(x => x.Alias, "PopupTextBox")
    @Html.EditorFor(x => x.Text, "PopupTextArea", new { Validation = false })
    @Html.EditorFor(x => x.MetaDescription, "PopupTextBox")
    @Html.EditorFor(x => x.MetaKeywords, "PopupTextBox")
    @Html.EditorFor(x => x.ParentId, "PopupHiddenWithDisplayValue", new { TemplateName = "parentPageFieldText", EmptyValue = "Нет родительской страницы", TextCssClass = "clickable-text" })
    @Html.EditorFor(x => x.SitemapXmlChangeFrequency, "PopupDropDownList", new { DataSource = ViewBag.SitemapXmlChangeFrequenciesSelectListItems })
    @Html.EditorFor(x => x.SitemapXmlPriority, "PopupDropDownList", new { DataSource = ViewBag.SitemapXmlPrioritiesSelectListItems })
    @Html.EditorFor(x => x.TemplateId, "PopupDropDownList", new { DataSource = ViewBag.PageTemplatesSelectListItems, DefaultValue = "Выберите шаблон страницы" })
    @Html.EditorFor(x => x.IsPublished, "PopupDropDownList", new { Validation = false, DataSource = ViewBag.PublicationStatusesSelectListItems })
    @Html.EditorFor(x => x.CreationDate, "PopupDisplayValue", new { TemplateName = "date" })
    @Html.EditorFor(x => x.LastModifiedDate, "PopupDisplayValue", new { TemplateName = "date" })
    @Html.EditorFor(x => x.PublicationDate, "PopupDisplayValue", new { TemplateName = "date", EmptyValue = "Страница не опубликована" })

    <div class="command-buttons-wrapper">
      <button class="command-button save-button" type="submit">Сохранить</button>
      <button class="command-button close-button" type="button">Закрыть</button>
    </div>
  }
</div>